<form action="{{action}}" method="POST" class="">
    {{#each }}
        <div class="form-group">
            <label for="{{@key}}">{{@key}}</label>
            <input name="" value="" class="form-control" />
        </div>
    {{/each}}
</form>